<h1>Barracks</h1>
<%= link_to 'Units', units_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_types.each do |unit_type| %>
      <tr>
        <td><%= image_tag unit_type.image_url(:thumb) %></td>
        <td><%= unit_type.name %></td>
        <td><%= unit_type.cost %></td>
        <td><%= link_to 'Show', unit_type %></td>
        <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
        <td><%= link_to 'X', unit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit type', new_unit_type_path %>
