<h1>Welcome Our Lord.</h1>
<p>Here we stand, soldiers of the Empire. Awaiting command.</p>

<%= link_to 'new unit', new_unit_path %>

<ul>
  <% @units.each do |unit| %>
      <li>
        <%= link_to unit_name(unit), unit_path(unit) %>
        <%= unit.unit_type.cost %>
        <%= unit.size %>
        <%= link_to 'edit', edit_unit_path(unit) %>
        <%= link_to 'X', unit_path(unit),
                    method: :delete, data: {confirm: 'Are you sure?'} %>
      </li>
  <% end %>
</ul>