<p>
  <%= @unit.name %>
</p>

<%= render @unit %>

<%= link_to 'All Units', units_path %>
<%= link_to 'delete', unit_path(@unit),
            method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'edit', edit_unit_path(@unit) %>