<!DOCTYPE html>
<html>
<head>
  <title>Roster Builder</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>

    <div class="span4">

      <h2>About App</h2>

      <p>Here you can see my Roster_Builder v.1.0
        It will help with create your own Empire roster. You can also add contingent of Kislev troops, or Dogs of War.

      </p>
      <hr>
    </div>
    <div class="span4">

      <h2>Functions</h2>


      <ul>
        <li>- Adding new type of units outside Empire Armybook</li>
        <li>- Roster_Builder allow you to see roster in pretty readable format</li>


      </ul>
      <hr>

    </div>
  </div>
</div>
</body>
</html>
